{% extends 'base.html' %}
{% load static %}
    {% block content %}
<br>
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="{% static 'gallery/images/product/img6.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{% static 'gallery/images/product/img2.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'gallery/images/product/img5.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{% static 'gallery/images/product/img3.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'gallery/images/product/img4.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="{% static 'gallery/images/product/img1.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>
</div>
      {% endblock %}